  .root
    flex-grow: 1
    margin-bottom: 0px

  .toolbar
    background-color: orange

  .grow
    flex-grow: 1

  .titleColor
    color: white

  .list
    border-right: 2px solid black
    margin: 0px
    height: calc(100vh - 65px)
    width: 240px
    background-color: white
    padding-left: 0px
    padding-right: 0px
    position: fixed
    overflow: scroll
